.agister-container {
    padding: 0 15px;
}

.add-task-wrapper {
    position: relative;
    float: left;
}

.add-task-full {
    position: absolute;
    left: 0;
    top: 100%;
    width: 400px;
    height: 250px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}

.add-task-form {
    padding: 15px;
}

.timeline-table {
    width: 100%;
}
.timeline-table td {
    border: 1px solid #dedede;
    font-size: 11px;
    padding: 4px;
}
.timeline-table td.title {
    width: 180px;
}

.timeline-table .timeline {
    overflow: hidden;
}
.timeline-table .task-container {
    height: 15px;
    margin: 0 15px;
}

.timeline-table .task {
    height: 15px;
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
    background: -o-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    padding: 1px 5px;
}
.timeline-table .legend-wrapper {
    position: relative;
    width: 100%;
    height: 15px;
}
.timeline-table .date-marker {
    position: absolute;
}

.timeline-table .title {
    cursor: pointer;
}

.task-details {
    background-color: #f8f8f8;
}